@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2p);
body {
  padding: 0 2rem;
  margin: 0 2rem;
  background-color: #222831;
}

#landing > .container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 150px;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  border-bottom: 4px solid #eeeeee;
  background-color: #222831;
}

header > .container {
  display: flex;
  align-items: flex-start;
  max-width: 980px;
  margin: auto;
  padding-top: 1rem;
  transition: all 0.2s ease;
}

header > .container > .nav-brand {
  margin-right: auto;
}

header > .container > .social-button {
  margin-left: auto;
}

.nav-brand .brand-logo {
  margin-right: 5%;
}

.nav-brand > .container {
  margin-bottom: 30px;
}

.nav-brand > a {
  color: #212529;
  text-decoration: none;
}

.social-buttons p {
  margin-bottom: 0;
}

/* Header-sticky */

header.sticky > .container {
  font-size: 0.8rem;
  padding: 0;
  align-items: center;
}

header.sticky .nav-brand h1 {
  margin: 0;
}

header.sticky .nav-brand p {
  display: none;
  margin-bottom: 0;
  font-size: 0.6rem;
}

header.sticky .pixel-container {
  width: 42px;
  height: 42px;
  margin: 1rem;
}

header.sticky .social-buttons p {
  display: none;
  margin-bottom: 0;
  font-size: 0.6rem;
}

/* Main */

.main-content {
  margin-bottom: 4rem;
}

/* Footer */

footer {
  text-align: center;
  margin-bottom: 2rem;
  color: #eeeeee;
}

footer a {
  color: #00adb5;
  text-decoration: none;
}

h2 > a {
  margin-right: 1rem;
}

.topic {
  margin-bottom: 3rem;
}

/* Showcase */

section.showcase {
  margin-top: 2.5rem;
}

section.showcase > section.nes-container {
  padding-bottom: 2.5rem;
}

section.showcase > section.nes-container,
section.showcase > section.samplecode {
  position: relative;
}

.nes-btn.showcode {
  position: absolute;
  font-size: 12px;
  bottom: 0px;
  right: -4px;
}

.nes-btn.copycode {
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 0px;
}

section.showcase > section.samplecode > pre code {
  font-size: 13px;
  line-height: 1.5;
  padding: 1.5rem;
}

.item {
  margin-bottom: -1rem;
}

.item > * {
  margin-bottom: 1.5rem !important;
}

/* Containers */

.item.containers > .nes-container {
  display: inline-block;
  max-width: 400px;
}

/* Topic */

h3.topic-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

h3.topic-title > i {
  margin-right: 1.5rem;
}

/* Articles */

.article-link > .title a {
  color: #333;
}

.article-link > .title span {
  margin-left: 1rem;
}

/* Scroll back to top */

.scroll-btn {
  position: fixed;
  bottom: -60px;
  right: 2rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.scroll-btn.active {
  bottom: 25px;
}

.scroll-btn > span {
  display: block;
  transform: rotateZ(90deg);
}

img.lazy {
  background-color: #D3D3D3;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: left;
  align-items: left;
}

.nav-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.nav-title > a {
  color: #ffffff;
  text-decoration: none;
}

.pixel-container {
  height: 84px;
  width: 84px;
  margin: 0 1rem 1rem 1rem;
}

.pixel-container > a {
  color: #ffffff;
  text-decoration: none;
}

.text-center {
  font-size: smaller;
}

.fit-image {
  max-width: 80%;
  max-height: auto;
  display: block;
  margin: auto;
}

@media screen and (max-width: calc(980px - 4rem)) {
  header > .container {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 2rem 0.5rem;
    padding: 0;
  }
  header > .container {
    margin: 0 0.5rem;
  }
  .social-link {
    display: none;
  }
  .message-list > .message > .nes-balloon {
    max-width: 60%;
  }
}

@media screen and (max-width: 580px) {
  #landing > .container {
    margin-top: 190px;
  }
}

/* social link */

.social-link {
  position: fixed;
  top: 200px;
  right: 2rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 0.8rem;
}

.social-link.active {
  right: 10px;
}

.social-link:hover {
  text-decoration: none;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-link {
  margin: 0.2rem;
}

.share-text {
  font-size: smaller;
  color: #eeeeee;
}

.social-buttons {
  align-self: center;
}

/* The button */
.addeventatc {
  display: inline-block;
  position: relative;
  font-size: 15px;
  line-height: 100%;
}
.addeventatc:hover {
  background-color: #f8f8f8;
}
.addeventatc .date {
  width: 50px;
  height: 60px;
  float: left;
  position: relative;
}
.addeventatc .date .mon {
  display: block;
  text-align: center;
  padding: 10px 0px 0px 0px;
  font-size: 10px;
  color: #bf5549;
  font-weight: bold;
  line-height: 110%;
  text-transform: uppercase;
}
.addeventatc .date .day {
  display: block;
  text-align: center;
  padding: 0px 0px 8px 0px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  line-height: 100%;
}
.addeventatc .date .bdr1 {
  width: 1px;
  height: 50px;
  background: #eaeaea;
  position: absolute;
  z-index: 100;
  top: 5px;
  right: -3px;
}
.addeventatc .date .bdr2 {
  width: 1px;
  height: 50px;
  background: #fff;
  position: absolute;
  z-index: 100;
  top: 5px;
  right: -4px;
}
.addeventatc .desc {
  height: 60px;
  float: left;
  position: relative;
  padding: 0px 15px 0px 0px;
}
.addeventatc .desc p {
  margin: 0;
  display: block;
  text-align: left;
  padding: 7px 0px 0px 15px;
  font-size: 11px;
  color: #666;
  line-height: 130%;
}
.addeventatc .desc .hed {
  height: 15px;
  display: block;
  overflow: hidden;
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 110%;
  color: #333;
  text-transform: uppercase;
}
.addeventatc .desc .des {
  height: 28px;
  display: block;
  overflow: hidden;
}
.addeventatc-selected {
  background-color: #f4f4f4;
}
.addeventatc .start,
.addeventatc .end,
.addeventatc .timezone,
.addeventatc .title,
.addeventatc .description,
.addeventatc .location,
.addeventatc .organizer,
.addeventatc .organizer_email,
.addeventatc .facebook_event,
.addeventatc .all_day_event,
.addeventatc .date_format,
.addeventatc .alarm_reminder,
.addeventatc .recurring,
.addeventatc .attendees,
.addeventatc .calname,
.addeventatc .uid,
.addeventatc .status,
.addeventatc .method,
.addeventatc .client,
.addeventatc .transp {
  display: none !important;
}

/* Drop down */
.addeventatc_dropdown {
  width: 230px;
  position: absolute;
  padding: 6px 0px 0px 0px;
  color: #000 !important;
  font-weight: 600;
  line-height: 100%;
  background: #fff;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  margin-left: -1px;
  display: none;
  transform: scale(0.98, 0.98) translateY(5px);
  z-index: -1;
  transition: transform 0.15s ease;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.addeventatc_dropdown.topdown {
  transform: scale(0.98, 0.98) translateY(-5px) !important;
}
.addeventatc_dropdown span {
  display: block;
  line-height: 100%;
  background: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  padding: 14px 10px 14px 55px;
  margin: -2px 0px;
}
.addeventatc_dropdown span:hover {
  background-color: #f4f4f4;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
.addeventatc_dropdown em {
  color: #999 !important;
  font-size: 12px !important;
  font-weight: 400;
}
.addeventatc_dropdown .frs a {
  background: #fff;
  color: #cacaca !important;
  cursor: pointer;
  font-size: 9px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 110% !important;
  padding-left: 10px;
  position: absolute;
  right: 10px;
  text-align: right;
  text-decoration: none;
  top: 5px;
  z-index: 101;
}
.addeventatc_dropdown .frs a:hover {
  color: #999 !important;
}
.addeventatc_dropdown .ateappleical {
  background: url(../gfx/icon-apple-t5.svg)18px40%no-repeat;
  background-size: 22px 100%;
}
.addeventatc_dropdown .ategoogle {
  background: url(../gfx/icon-google-t5.svg)18px50%no-repeat;
  background-size: 22px 100%;
}
.addeventatc_dropdown .ateoffice365 {
  background: url(../gfx/icon-office365-t5.svg)19px50%no-repeat;
  background-size: 18px 100%;
}
.addeventatc_dropdown .ateoutlook {
  background: url(../gfx/icon-outlook-t5.svg)18px50%no-repeat;
  background-size: 22px 100%;
}
.addeventatc_dropdown .ateoutlookcom {
  background: url(../gfx/icon-outlookcom-t5.svg)18px50%no-repeat;
  background-size: 22px 100%;
}
.addeventatc_dropdown .ateyahoo {
  background: url(../gfx/icon-yahoo-t5.svg)18px50%no-repeat;
  background-size: 22px 100%;
}
.addeventatc_dropdown .atefacebook {
  background: url(../gfx/icon-facebook-t5.svg)18px50%no-repeat;
  background-size: 22px 100%;
}
.addeventatc_dropdown .copyx {
  height: 21px;
  display: block;
  position: relative;
  cursor: default;
}
.addeventatc_dropdown .brx {
  height: 1px;
  overflow: hidden;
  background: #e8e8e8;
  position: absolute;
  z-index: 100;
  left: 10px;
  right: 10px;
  top: 9px;
}
.addeventatc_dropdown.addeventatc-selected {
  transform: scale(1, 1) translateY(0px);
  z-index: 99999999999;
}
.addeventatc_dropdown.topdown.addeventatc-selected {
  transform: scale(1, 1) translateY(0px) !important;
}
.addeventatc_dropdown .drop_markup {
  background-color: #f4f4f4;
}
